// Define variables for your color scheme

// For example:
$red: #eb3b5a;
$blue: #3867d6;
$yellow: #f7b731;
$green: #20bf6b;
$orange: #fa8231;
$white: rgb(250,250,255);
$light-gray: #a5b1c2;
$black: #222222;

