// Define variables for your color scheme

// For example:
$red: #E04A21;
$blue: #3D405B;
$yellow: #F2CC8F;
$green: #81B29A;
$orange: #E07A5F;
$white: #F4F1DE;
$light-gray: #F4F4F4;
$black: #222222;

