.run-banner{
  display: flex;
  align-items: center;
  background: #eeeef9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #9df98b, #f4f9f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #9df98b, #f4f9f3);
}
.run-half-banner {
  display: flex;
  justify-content: center;
}
.run-half-banner-1 {
  width: Calc(100% - 600px);
}
.run-half-banner-2 {
  overflow:hidden;
  height:500px;
}

.run-banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 5px;
  h1 {
    text-align: center;
    margin-top: auto;
  }
}

#map-container {
  height: 50vh;
  width: 50vw;
}

.run-container {
  padding: 24px 0;
}



// Mobile device

@media only screen and (max-width: 991px){
  .run-banner{
    flex-direction: column;
  }
  .run-half-banner-1 {
    width:100%;
  }
}

#run_session_start_point{
  color: $blue;
  border: none;
  background: transparent;
  box-shadow: none;
  text-align: center;
  margin: 20px 0;
  padding: 0;
  width: 60px;
}
#run_session_length{
  display: flex;
  align-items: center;
  justify-content: center;
}
.run_session_start_point{
  margin: 0;
  label{
    font-weight: normal;
  }
}
.length-session{
  margin-bottom: 32px;
}

.length-session--question{
  font-weight:600;
  font-family: "PT Sans", sans-serif;
}
