<div class="footer">
  laces <i class="far fa-copyright"></i>

<i class="fas fa-ellipsis-v"></i>

  <a href="https://www.freeprivacypolicy.com/privacy/view/b61a9149f43333dfcdf539d6385928f3">privacy policy</a>

<i class="fas fa-ellipsis-v"></i>

  <a href="http://www.sitemaps.org/schemas/sitemap/0.9">sitemap</a>

<i class="fas fa-ellipsis-v"></i>


  <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
  <a href="https://twitter.com/?lang=en" class="fab fa-twitter"></a>
  <a href="https://plus.google.com/discover" class="fab fa-google-plus-g"></a>
  <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:red"></i>

</div>
