<div class="footer">
  laces <i class="far fa-copyright"></i>

<i class="fas fa-ellipsis-v"></i>

  <a href="https://www.freeprivacypolicy.com/privacy/view/b61a9149f43333dfcdf539d6385928f3">privacy policy</a>

<i class="fas fa-ellipsis-v"></i>

  <a href="http://www.sitemaps.org/schemas/sitemap/0.9">sitemap</a>

<i class="fas fa-ellipsis-v"></i>


  <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>

  <a href="https://twitter.com/?lang=en" class="fab fa-twitter"></a>

  <a href="https://plus.google.com/discover" class="fab fa-google-plus-g"></a>

  <a href="lacesup@gmail.com" class="far fa-envelope"></a>

  <a href="(593)762-5658" class="fas fa-phone"></a>

</div>
