.header{
    width: 500px;
    height: 300px;
    margin:auto;
    text-align:center;
    line-height:300px;
    overflow: hidden;
    padding: 20px 10px;
}

.main-header{
  background-image: url('../assets/images/runner.jpg);
}
