<h1>Runs#index</h1>
<p>Find me in app/views/runs/index.html.erb</p>

<div class="banner">
<h1>MobRun</h1></div>
<%= link_to "+ new run", new_run_url, method: :get %>

<% @runs.each do |run| %>
  <h2><%= run.route.name %></h2>
  <%= link_to "details", run_path(run) %>
  <p>
  <%= link_to run_path(run), method: :delete do %>
  <i class="fas fa-trash-alt"></i>
  <% end %> </p>
<% end %>
