<div class="form-group col-xs-12 col-sm-offset-4 col-sm-4">
  <h1>Create a run</h1>
  <%= simple_form_for [@route, @run] do |f| %>
    <%= f.input :start_time %>
    <%= f.input :speed %>
    <%#= f.input :end_time %>
    <%= f.submit 'Add route' %>
  <% end %>
</div>
