<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<center>
  <hr>
  <h1 class="orange-bold-text">Select a Route</h1>
  <hr>
</center>

<div class="main-container">
  <div class="row">
    <% @routes.each do |route| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href='/routes/<%= route.id %>' class="run-details-link">
          <div class="card">
          <img class="card-img-top" src='https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1002f970f615e046c7c5376c46e13bef&auto=format&fit=crop&w=500&q=60' width="250" height="180" alt="Card image cap">
          <h2 class="heading"><%= route.name %></h2>
          <p>
            <img src="//platform-api.sharethis.com/js/sharethis.js#property=5b75fdef46590e0011900540&product=inline-share-buttons"></img>
            <a href="#" class="fa fa-facebook"></a>
            <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:red"></i>
            <%= link_to route_path(route), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </p>
        </div></a>
      </div>
    <% end %>
  </div>
</div>

s
